@font-face {
    font-family: "Glitten";
    src: url(./GLITTEN_ALL_CAPS.ttf);
}

html,
body {
    font-family: "Glitten";
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.side-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    height: 100vh;
    background: url(./jakarta.avif);
    background-size: cover;
    margin-left: 0;
}

.side-image img {
    width: 200px;
    height: auto;
}

.side-image div {
    color: rgb(131, 88, 39);
    display: flex;
    background-color:rgba(255, 255, 255, 0.719) ;
    width: 40vw;
    margin-top: 45vh;
    align-items: center;
    justify-content: center;
}

.side-image div h1 {
    margin-top: 30px;
}

.side-image p {
    color: azure;
    align-self: last baseline;
    font-size: 12px;
}

.form {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
}

.header {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-content: baseline;
}

.input-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:normal;
    background-color: white;
    width: 60vw;
    height: 30vh;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.123);
    padding: 5px 0px;
}

#my-form {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.input {
    display: flex;
    flex-direction: column;
}

label {
    position: relative;
    width: 20rem;
}

.submit-section {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: first baseline;
    width: 60vw;
    margin-left: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

button[type = 'submit'] {
    padding: 0.8rem;
    padding-top: 1.3rem;
    font-size: 1.3rem;
    background-color:rgb(201, 77, 77);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    margin-top: 30px;
    font-family: "Glitten";
}

button[type = 'submit']:hover {
    background-color: brown;
    cursor: pointer;
} 

.error {
    font-size: 0.5rem;
}

.hidden {
    visibility: hidden;
}

.footer {
    display: flex;
    margin-bottom: -30px;
    align-items: center;
    gap: 10px;
}

.footer-image {
    width: 30px;
    height: auto;
    transition: transform .7s ease-in-out;
}

.footer-image:hover {
    transform: scale(1.2) rotate(360deg);
}

